

<div class="autocomplete-keywords-container small-12 cell">
  <form autocomplete="off" class="autocomplete-form" action="/image_finder/" method="POST">

      <div class="selected-keyword-container">
        <h3>Selected keywords</h3>

        <ul id="selectedKeywordsList">
      
          <% if (typeof exampleItems !== 'undefined') {%>
            <%- exampleItems %>
          <% } %>

        </ul>

          <input type='hidden' id="selectedCounter" name='selectedCounter' value='0'>
      </div>

      <div class="main-query-input-wrapper control-wrapper">

          <input type="text" id="queryInput" tabindex="1" name="query">

      </div>
      <input type="submit" class="button success" id="sendQuery" value="Search">
  </form>
</div>

<div class="image-browser-main-tiles small-12 cell">
<% if (typeof query !== 'undefined') {%>
  <h3>Query: <%= query %></h3>
  <% } %>
  <ul id="resultImagesList">

  <% if (typeof relevantImages !== 'undefined') {%>
    <%- JSON.stringify(relevantImagesArray) %>
  <% } %>


  <% if (typeof relevantImagesArray !== 'undefined') {%>

<%
for (var i = 0; i < relevantImagesArray.length; ++i) {
%>

<li class="rel-img-item" data-open="modalImage" onclick="SwitchModalImageHtmlContents(<%= relevantImagesArray[i].imageId %>);">
  <img src="/images/<%= relevantImagesArray[i].filename %>" id="<%= relevantImagesArray[i].imageId %>" />
</li>

<% }%>
<% } %>

  </ul>


  <div class="reveal" id="modalImage" data-reveal data-src="999">
    
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<script>
function SwitchModalImageHtmlContents(id) {

    var $modal = $("#modalImage");

    $.ajax('/images_ajax?imageId=' + id)
      .done(function(resp)
      {
        var html = "<div class='modal-image-data'>";
        html +="<img src='/images/" + resp.filename + "' />";
        html += "<span>" + resp.imageId + "</span>";
        html += "<ul class='probs-list'>";

        for (var i = 0; i < resp.probabilityVector.length; ++i) 
        {
          html += "<li class='probs-list-item'>";
            html += "<small class='index'>" + resp.probabilityVector[i].index +  "</small>";
            html += "<p class='keyword'>" + resp.probabilityVector[i].keyword +  "</p>";
            html += "<span class='prob'>" + resp.probabilityVector[i].prob +  "</span>";
          html += "</li>";
        }


        html += "</ul>";
        html += "</div>";

        // Switch HTML
        $modal.html(html);
      }
  );
  }

</script>

</div>



<!-- Include autocomplete module -->
<%- include autocomplete_logic.ejs %>