
<section class="oc-ranker-settings-left-section grid-container">
  
  
  <form class="ranking-model-settings-form grid-x grid-padding-x align-center" action="<%= ocRankerSettingsLeft_ranker_formActionAddress %>" method="GET">
    
    <%- include form_part_model_settings.ejs %>

    <input type="submit" class="button" value="Save settings"/>
  </form>
</section>


<!-- Add logic for form -->
<script src="/javascripts/form_part_model_settings_logic.js"></script>

<script>

$( document ).ready(function() 
{
  setupOnChangeLlistener();
  fillInCurrentSettings();
});

function fillInCurrentSettings()
{
  // General
  $('[name="0[numResults]"]').val("<%= ranker.settings.numResults ? ranker.settings.numResults : 100 %>").change();
  $('[name="0[aggregation]"]').val("<%= ranker.settings.aggregation %>").change();
  $('[name="0[aggregationParameter]"]').val("<%= ranker.settings.aggregationParameter %>").change();
  $('[name="0[rankingModel]"]').val("<%= ranker.settings.rankingModel %>").change();
  $('[name="0[keywordFrequency]"]').val("<%= ranker.settings.keywordFrequency %>").change();
  $('[name="0[dataSource]"]').val("<%= ranker.settings.dataSource ? ranker.settings.dataSource : 0 %>").change();

  // Boolean
  $('[name="0[boolean_trueTreshold]"]').val("<%= ranker.settings.boolean_trueTreshold ? ranker.settings.boolean_trueTreshold : 0 %>").change();
  $('[name="0[boolean_inBucketRanking]"]').val("<%= ranker.settings.boolean_inBucketRanking ? ranker.settings.boolean_inBucketRanking : 0 %>").change();

  // Viret
  $('[name="0[viret_trueTreshold]"]').val("<%= ranker.settings.viret_trueTreshold ? ranker.settings.viret_trueTreshold : 0 %>").change();
  $('[name="0[viret_queryOperations]"]').val("<%= ranker.settings.viret_queryOperations ? ranker.settings.viret_queryOperations : 0 %>").change();
}
</script>