

<div class="ranker-left-sidebar large-3 cell">

  <form autocomplete="off" class="autocomplete-form" action="/image_finder/" method="POST">

    <!-- Settings bar -->
    <section class="settings-bar-section grid-container">
      <div class="grid-x grid-padding-x align-left">  

        <!-- Image settings -->
        <div class="get-random-image-cont small-4 cell">
            <button type="button" class="button icon-settings open-left-oc" data-toggle="offCanvasLeftSplit1"><img src="/images/generic/icon_settings.svg"></button>
        </div>

      </div>
    </section>

    <!-- Image preview -->
    <section class="image-preview-section grid-container">
      <div class="grid-x grid-padding-x align-left">  

        <!-- Image settings -->
        <div class="get-random-image-cont small-4 cell">
            <a class="button" onclick="getRandomImageToPreview(this);">Get random image</a>
        </div>
        <div class="target-image-id-cont small-4 cell">
          
          <label class="target-image-id-label">Target image ID:
            <input type="number" id="targetImageId" tabindex="1" name="targetImageId" default="0" value="<%= targetImageId %>" />
          </label>
        </div>
        <div class="target-image-id-cont small-4 cell">
          <a class="button" onclick="getSelectedImageToPreview(this);" title="Sets target image to provided ID">Show image</a>
        </div>

        <!-- Image preview canvas -->
        <div class="image-preview small-12 cell">
          <img src="http://via.placeholder.com/640x360" />
        </div>

      </div>
    </section>


    <!-- Autocomplete section -->
    <section class="image-preview-section grid-container">
      <div class="grid-x grid-padding-x align-left"> 

        <div class="autocomplete-input-cont small-12 cell">
          <!-- Autocomplete text input -->
          <input type="text" id="queryInput" tabindex="1" name="query">
          <input type='hidden' id="selectedCounter" name='selectedCounter' value='0'>
          
          <ul class="selected-keywords-list" id="selectedKeywordsList">
        
            <% if (typeof keywords !== 'undefined') {
                if (keywords instanceof Array) 
                {
                  for (var i = 0; i < keywords.length; ++i) {
                  %>
              

                    <li class="slected-keyword-checkbox">
                      <input type="checkbox" name="keywordWord" value="<%= keywordsWords[i] %>" checked="">                
                      <input type="checkbox" name="keyword" value="<%= keywords[i] %>" checked="">                
                      <span><%= keywordsWords[i] %></span> <a class="remove-keyword button alert" onclick="removeKeyword(event, this);">&#10006</a>
                    </li>

              <%    }
              } else { %>

                <li class="slected-keyword-checkbox">
                <input type="checkbox" name="keywordWord" value="<%= keywordsWords %>" checked="">          
                <input type="checkbox" name="keyword" value="<%= keywords %>" checked="">       
                <span><%= keywordsWords %></span> <a class="remove-keyword button alert" onclick="removeKeyword(event, this);">&#10006</a>
              </li>

                <%
              }
              } %>

          </ul>
          
        </div>
      </div>

    </form>
    <script>
      $( document ).ready(function() {
        $(".model-type-select").change(function() 
          {
            const $this = $(this);
        
            $this.parent().parent().parent().children(".model-properties").hide();
            $this.parent().parent().parent().children(".model-type-" + $this.val()).show();
        
          });

        // Setup provided settings
        $("#numResultsInput").val(<%= selectedSettings.numResults %>).change();
        $("#aggregationInput").val(<%= selectedSettings.aggregation %>).change();
        $("#rankingModelInput").val(<%= selectedSettings.rankingModel %>).change();
        $("#probTresholdInput").val(<%= selectedSettings.probTreshold %>).change();
        $("#inBucketRankingInput").val(<%= selectedSettings.inBucketRanking %>).change();
        $("#probTreshold4Input").val(<%= selectedSettings.probTreshold4 %>).change();
        $("#queryOperationsInput").val(<%= selectedSettings.queryOperations %>).change();


      });
      
    </script>

  </div>

<!-- Images grid -->
<div class="ranker-right-sidebar image-grid-section image-browser-main-tiles large-9 cell">
  
  <ul id="resultImagesList">

      <% if (typeof relevantImages !== 'undefined') {%>
        <%- JSON.stringify(relevantImagesArray) %>
      <% } %>


      <% if (typeof relevantImagesArray !== 'undefined') {%>

    <%
    for (var i = 0; i < relevantImagesArray.length; ++i) {
    %>

      <li class="rel-img-item" data-open="modalImage" onclick="SwitchModalImageHtmlContents(<%= relevantImagesArray[i].imageId %>);">
        <img src="/images/<%= relevantImagesArray[i].filename %>" id="<%= relevantImagesArray[i].imageId %>" />
      </li>

        <% }%>
    <% } %>

  </ul>
</div>



<!-- Single image modal window -->
<div class="reveal" id="modalImage" data-reveal data-src="999">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<script>
function SwitchModalImageHtmlContents(id) 
{

  var $modal = $("#modalImage");

  $.ajax('/images_ajax?imageId=' + id)
    .done(function(resp)
    {
      var html = "<div class='modal-image-data'>";
      html +="<img src='/images/" + resp.filename + "' />";
      html += "<h3 class='id'>Image ID:" + resp.imageId + "</h3>";
      html += "<hr />";
      html += "<ol class='probs-list'>";

      for (var i = 0; i < resp.probabilityVector.length; ++i) 
      {
        html += "<li class='probs-list-item'>";
          html += "<small class='index'>(" + resp.probabilityVector[i].index +  ")</small>";
          html += "<p class='keyword'>" + resp.probabilityVector[i].keyword +  "</p>";
          html += "<span class='prob'>" + resp.probabilityVector[i].prob.toFixed(10) +  "</span>";
        html += "</li>";
      }


      html += "</ol>";
      html += "</div>";

      // Switch HTML
      $modal.html(html);
    }
  );
}

</script>


<!-- Include autocomplete module -->
<%- include autocomplete_logic.ejs %>