<!-- Include header -->
<%- include common/header.ejs %>

<section class="main-image-query grid-container">
  <div class="grid-x grid-padding-x align-center">

    <!-- Status bar -->
    <div class="progerss-bar small-12 cell">
      <hr />
    </div>

    <!-- Presented sequence -->
    <ul class="main-image small-12 cell">

      <% const framesSequence = state.annotator.framesSequence; 
      for (let i = 0; i < framesSequence.length; ++i) { %>
      <li
        class="frame-item frame-nr-<%= i %>"
        data-frameId="<%= framesSequence[i].frameId %>"
      >
        <img src="<%= "../images/" %><%= framesSequence[i].filename %>" />
      </li>
      <% } %>
      
    </ul>

    <!-- Input query -->
    <div class="autocomplete-keywords-container small-12 cell">

      <% if (state.annotator.fullyNative) { %>
        <%- include modules/annotator_native.ejs %>
      <%  } else { %>
        <%- include modules/annotator_guided.ejs %>
      <%  } %>

    </div>
  </div>
</section>

<!-- Include footer -->
<%- include common/footer.ejs %>
