<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link href="/stylesheets/material.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/ej2.min.js" type="text/javascript"></script>
  <link href="/stylesheets/index.css" rel="stylesheet">

</head>

<body>
    <section class="header main">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
          <a class="navbar-brand" href="#"><%= title %></a>

          <ul class="navigation main">
            <li><a href="/">Home</a></li>
            <li><a class="active" href="/collector/">Collector</a></li>
          </ul>
        </nav>
    </section>

    <section class="how-to-use-tip">
        <div class="row center">

            <h4>
              If you need to know how to use this, please take a look <a href="/">HERE</a>.
            </h4>

        </div>
      </section>

  <section class="main-image-query">
    <div class="row center">

      <div class="main-image-container">
        <img src="<%= pathToImages %><%= newImageObj.src %>" />
      </div>

    </div>
  </section>

<script>

jQuery(document).ready(function() {
    jQuery("#submitBtn").click(function(){
        var countries = [];
        jQuery.each(jQuery(".e-multi-hidden[name=games]"), function(){         
          
            countries.push(jQuery(this).val());
        });
        console.log(countries);
        console.log(countries.length);

        alert("Query for validation is:" + countries.join(";"));
    });
  });
    
</script>

  <section class="main-query">
    <div class="row center">
      <div class="query-form">

        <form class="send-image-query-form" action="/collector/" method="POST">
          <div class="control-wrapper">
              <input type="hidden" id="imgId" name="imgId" value="<%= newImageObj.id %>">
              <input type="text" id="games" tabindex="1" >
            
          </div>
          <input type="submit" id="submitBtn" value="Submit">
        </form>

      </div>

    </div>
  </section>

</body>

<script>



// define the array of data
var vecIndexToDescData = [
  




<% 
var data = indexDescData.vecIndexToDescription;
for (var i = 0; i < data.length; ++i) 
{ 
  var arrDesc = data[i].description.split("#");

  for (var j = 0; j < arrDesc.length; ++j) 
  { %>

    {
      "vecIndex": "<%= data[i].vecIndex %>#<%= j %>",
      "description": "<%= arrDesc[j] %>"
    },

  <%}
}%>

  <% 
  for (var k = 0; k < 20; ++k) 
  { %>

  {
    "vecIndex": "(",
    "description": "("
  },
  {
    "vecIndex": ")",
    "description": ")"
  },
  {
    "vecIndex": "&",
    "description": "&"
  },
  {
    "vecIndex": "|",
    "description": "|"
  },

  <% } %>

  {
    "vecIndex": "&",
    "description": "&"
  }
];
</script>

<script src="/javascripts/index.js"></script>


</html>