<!-- Include header -->
<%- include common/header.ejs %>

<section class="main-image-query grid-container">
  <div class="grid-x grid-padding-x align-center">

    <div class="main-image small-12 cell">
      <img src="<%= "../images/"  %><%= newImage.filename %>" />
    </div>

    <div class="autocomplete-keywords-container small-12 cell">


    <% if (phonyQuery == true) {%>
    <input type='hidden' id="phonyQuery" name='phonyQuery' value='true'>
    <% } %>

      <!-- Include autocomplete module -->
      <%- include modules/autocomplete.ejs %>

    </div>

  </div>
</section>

</body>

<!-- Include footer -->
<%- include common/footer.ejs %>