<!-- Include header -->
<%- include common/header.ejs %>

<section class="ranker-grid-section grid-container">
  <div class="grid-x grid-padding-x align-center">

    

<div class="ranker-left-sidebar large-3 cell">

  <form autocomplete="off" class="autocomplete-form" action="/image_finder/" method="POST">

    <!-- Settings bar -->
    <section class="settings-bar-section grid-container">
      <div class="grid-x grid-padding-x align-left">  

        <!-- Image settings -->
        <div class="get-random-image-cont small-4 cell">
            <button type="button" class="button icon-settings open-left-oc" data-toggle="offCanvasLeftSplit1"><img src="/images/generic/icon_settings.svg"></button>
        </div>

      </div>
    </section>

    <!-- Image preview -->
    <section class="image-preview-section grid-container">
      <div class="grid-x grid-padding-x align-left">  

        <!-- Image settings -->
        <div class="get-random-image-cont small-4 cell">
            <a class="button" onclick="getRandomImageToPreview(this);">RNG image</a>
        </div>
        <div class="target-image-id-cont small-4 cell">
          
          <label class="target-image-id-label">Target image ID:
            <input type="number" id="targetImageId" tabindex="1" name="targetImageId" default="0" value="<%= ranker.targetImageId ? ranker.targetImageId : '' %>" />
          </label>
        </div>
        <div class="target-image-id-cont small-4 cell">
          <a class="button" onclick="getSelectedImageToPreview(this);">Get selected</a>
        </div>

        <!-- Image preview canvas -->
        <div class="image-preview small-12 cell">
          <img id="targetImage" src="http://via.placeholder.com/640x360" />
        </div>

      </div>
    </section>


    <!-- Autocomplete section -->
    <section class="image-preview-section grid-container">
      <div class="grid-x grid-padding-x align-left"> 

        <div class="autocomplete-input-cont small-12 cell">
          <!-- Autocomplete text input -->
          <input type="text" id="queryInput" tabindex="1" name="query">
          <input type='hidden' id="selectedCounter" name='selectedCounter' value='0'>
          
          <ul class="selected-keywords-list" id="selectedKeywordsList">
        
            <% if (typeof keywords !== 'undefined') {
                if (keywords instanceof Array) 
                {
                  for (var i = 0; i < keywords.length; ++i) {
                  %>
              

                    <li class="slected-keyword-checkbox">
                      <input type="checkbox" name="keywordWord" value="<%= keywordsWords[i] %>" checked="">                
                      <input type="checkbox" name="keyword" value="<%= keywords[i] %>" checked="">                
                      <span><%= keywordsWords[i] %></span> <a class="remove-keyword button alert" onclick="removeKeyword(event, this);"> X</a>
                    </li>

              <%    }
              } else { %>

                <li class="slected-keyword-checkbox">
                <input type="checkbox" name="keywordWord" value="<%= keywordsWords %>" checked="">          
                <input type="checkbox" name="keyword" value="<%= keywords %>" checked="">       
                <span><%= keywordsWords %></span> <a class="remove-keyword button alert" onclick="removeKeyword(event, this);"> X</a>
              </li>

                <%
              }
              } %>

          </ul>
          
        </div>
      </div>

    </form>
    

  </div>

<!-- Images grid -->
<div class="ranker-right-sidebar image-grid-section image-browser-main-tiles large-9 cell">
  
  <ul id="resultImagesList">

      <% if (typeof relevantImages !== 'undefined') {%>
        <%- JSON.stringify(relevantImagesArray) %>
      <% } %>


      <% if (typeof relevantImagesArray !== 'undefined') {%>

    <%
    for (var i = 0; i < relevantImagesArray.length; ++i) {
    %>

      <li class="rel-img-item" data-open="modalImage" onclick="SwitchModalImageHtmlContents(<%= relevantImagesArray[i].imageId %>);">
        <img src="/images/<%= relevantImagesArray[i].filename %>" id="<%= relevantImagesArray[i].imageId %>" />
      </li>

        <% }%>
    <% } %>

  </ul>
</div>



<!-- Single image modal window -->
<div class="reveal" id="modalImage" data-reveal data-src="999">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<script>
function SwitchModalImageHtmlContents(id) 
{

  var $modal = $("#modalImage");

  $.ajax('/images_ajax?imageId=' + id)
    .done(function(resp)
    {
      var html = "<div class='modal-image-data'>";
      html +="<img src='/images/" + resp.filename + "' />";
      html += "<h3 class='id'>Image ID:" + resp.imageId + "</h3>";
      html += "<hr />";
      html += "<ol class='probs-list'>";

      for (var i = 0; i < resp.probabilityVector.length; ++i) 
      {
        html += "<li class='probs-list-item'>";
          html += "<small class='index'>(" + resp.probabilityVector[i].index +  ")</small>";
          html += "<p class='keyword'>" + resp.probabilityVector[i].keyword +  "</p>";
          html += "<span class='prob'>" + resp.probabilityVector[i].prob.toFixed(10) +  "</span>";
        html += "</li>";
      }


      html += "</ol>";
      html += "</div>";

      // Switch HTML
      $modal.html(html);
    }
  );
}

</script>


<!-- Include autocomplete module -->
<%- include modules/autocomplete_logic.ejs %>

    

  </div>
</section>

</body>

<script>
  function clearImageGrid()
  {

  }

  function getRandomImageToPreview(elem)
  {
    // Create AJAX call to get appropriate data
    get('/ranker_ajax_get_random_image_and_start_search_session')
      // If response OK
      .then((data) => {

        // Clear old grid
        clearImageGrid();

        data = JSON.parse(data);

        $("#targetImageId").val(data.imageId);
        $("#targetImage").attr("src", "/images/" + data.imageFilename);

      })
      // If error occured
      .catch((err) => {
          // Do stuff on error...
      });
  }

  function getSelectedImageToPreview(elem)
  {
    const targetId = $("#targetImageId").val();

    // Create AJAX call to get appropriate data
    get('/ranker_ajax_get_selected_image_and_start_search_session?imageId=' + targetId)
      // If response OK
      .then((data) => {

        data = JSON.parse(data);
        
        $("#targetImageId").val(data.imageId);
        $("#targetImage").attr("src", "/images/" + data.imageFilename);

      })
      // If error occured
      .catch((err) => {
          // Do stuff on error...
      });
  }

</script>

<!-- Include footer -->
<%- include common/footer.ejs %>