<!-- Include header -->
<%- include common/header.ejs %>


<section class="scoreboard-main grid-container">
  <div class="grid-x grid-padding-x">

  <div class="callout success finished-note cell large-12">
    <h1>Set completed!</h1>
  </div>
</section>


<section class="results-section grid-container">
  <div class="grid-x grid-padding-x">
    <div class=" cell large-12">

      <table>
        <thead>
          <tr>
            <th width="30%">Image</th>
            <th width="30%">You see</th>
            <th>Neural network sees</th>
          </tr>
        </thead>
        <tbody>

        <% for (var i = 0; i < gameWalkthrough.length; ++i) { %>

          <tr class="result-item">
              <td class="image-thumb ">
                <img src='../images/<%= gameWalkthrough[i][0].imageFilename %>' />
              </td>

              <td class="user-keywords-list">


              <% for (var j = 0; j < gameWalkthrough[i][0].keywords.length; ++j) { %>

                <li><%= gameWalkthrough[i][0].keywords[j] %></li>

              <% } %>

              </td>

              <td class="net-keywords-list">

              <% for (var j = 0; j < gameWalkthrough[i][0].netProbabilites.length; ++j) { %>

                <li>
                  <span class="keyword"><%= gameWalkthrough[i][0].netProbabilites[j].netKeyword %>
                  <span class="probability"><%= gameWalkthrough[i][0].netProbabilites[j].netProbability %>
                </li>

              <% } %>

              </td>

          </tr>

        <% } %>

        </tbody>
      </table>

    </div>
  </div>
</section>

<section class="cta-play-again-section grid-container">
  <div class="grid-x grid-padding-x">

    <div class="callout warning cell large-12 text-center">
      <a class="button success large" id="playAgain" href="/annotator?startGame=true">Annotate again</a>
    </div>

  </div>
</section>

</body>

<!-- Include footer -->
<%- include common/footer.ejs %>