<!-- Include header -->
<%- include common/header.ejs %>

<section class="page-title-section">
  <div class="grid-x grid-padding-x align-center grid-container">
    
    <div class="page-title small-12 cell text-center">
      <h1>Statistics</h1>
      <h2>for data pack <strong><%= state.activeDataPackId %></h2></strong>
      <h5>Change them over there &#8594</h5>
    </div>

  </div>
</section>

<section class="search-session-progresss-section">
  <%- include ./forms/get_search_session_rank_progress_chart_data.ejs %>
</section>

<section class="search-session-progresss-section">
  <%- include ./forms/get_label_hisograms.ejs %>
</section>

<!-- Include footer -->
<%- include common/footer.ejs %>