<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= global.gConfig.title %> | <%= global.gConfig.title %></title>
  
  <!-- Foundation styles -->
  <link rel="stylesheet" href="/stylesheets/foundation.css">

  <link rel='stylesheet' href='/stylesheets/Chart.css' />

  <!-- Main custom styles -->
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- Include jQuery v3.3.1 -->
  <script src="/javascripts/vendor/jquery.js"></script>
</head>

<body class="<%= currentPage %>">
  <div class="off-canvas position-left" id="offCanvasLeftSplit1" data-off-canvas>

    <!-- Close button -->
    <button class="close-button" aria-label="Close menu" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>

    <% // If OC Ranker Settins should be filled in
    if (typeof ocRankerSettingsLeft_ranker != "undefined") 
    { %>
      
     <%- include ../modules/oc_ranker_settings_left.ejs %>
     
    <% } 
    // If Annotator settins should be displayed
    else if (typeof ocRankerSettingsLeft_annotator != "undefined") 
    {
      
    } %>

  </div>

  <div class="off-canvas position-right" id="offCanvasRightSplit2" data-off-canvas>

    <!-- Close button -->
    <button class="close-button" aria-label="Close menu" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>

    

  </div>

  <div class="dev-login-modal reveal text-center" id="exampleModal2" data-reveal >
    <h1>Are you developer?</h1>

    <form class="dev-login-form" action="/users" method="POST">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="medium-12 cell">
                    <label>
                        <input name="pass" type="password" autofocus>
                    </label>
                </div>

                <div class="small-12 cell">
                    <input type="submit" class="button success" value="Send">
                </div>
            </div>
            
        </div>
    </form>
  </div>

  <!-- Off canvas body -->
  <div class="off-canvas-content" data-off-canvas-content>
    <!--
    <button type="button" class="button" data-toggle="offCanvasLeftSplit1">Open Left</button>
    <button type="button" class="button" data-toggle="offCanvasRightSplit2">Open Right</button>
    -->
    
    <div class="top-bar header main">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><a href="/">
            <span class="title"><%= global.gConfig.title %></span>  
            <span class="subtitle"><%= global.gConfig.subtitle %></span>  
          </a></li>
          <li class="menu-item
            <% if (typeof currentPage != 'undefined') 
            {
              if (currentPage == "trecvid_ranker") 
              { %>
                active
              <% }
            } %>
          ">

            <a href="/query_annotator/">Query annotator</a>
          </li>
          <li class="menu-item
          <% if (typeof currentPage != 'undefined') 
            {
              if (currentPage == "ranker") 
              { %>
                active
              <% }
            } %>
          ">
            <a href="/ranker">Ranker</a>
          </li>
          <li class="menu-item
          <% if (typeof currentPage != 'undefined') 
          {
            if (currentPage == "statistics") 
            { %>
              active
            <% }
          } %>
          ">
            <a href="/statistics/">Statistics</a>
          </li>
        </ul>
      </div>

      <!-- Right top bar -->
      <div class="top-bar-right">

        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-item">
            <button class="button login-dev" data-open="exampleModal2"><img src="../images/generic/icon_login.svg" /></button>
          </li>
        </ul>

        <% if (typeof userLevel != 'undefined') 
        {
          if (userLevel >= 10) 
          { %>
            <div class="dev-sign"><p>DEVELOPER SESSION</p></div>
          <% }
        } %>

      </div>
  </div>

  <div class="global-header-settings-bar">
    <a onclick="togglekwscform()" class="button">KW & Scoring settings</a>
    <form style="display: none;" id="kWsCdataTypeForm" class="kw-sc-data-type-form grid-x grid-padding-x" method="POST" action="/settings_ajax_set_kw_sc_data_type" >
      <label class="cell large-6">Keywords data type
        <select name="kwDataType">
          <option value="0"
          <% if (typeof keywordDataType != 'undefined') 
          {
            if (keywordDataType == 0) 
            { %>
              selected
            <% }
          } %>
          >Viret V1</option>

          <option value="100"
          <% if (typeof keywordDataType != 'undefined') 
          {
            if (keywordDataType == 100) 
            { %>
              selected
            <% }
          } %>
          >Google AI Vision</option>
        </select>
      </label>

      <label class="cell large-6">Scoring data type
        <select name="scoringDataType">
          <option value="0"
          <% if (typeof scoringDataType != 'undefined') 
          {
            if (scoringDataType == 0) 
            { %>
              selected
            <% }
          } %>
          >NasNet</option>

          <option value="100"
          <% if (typeof scoringDataType != 'undefined') 
          {
            if (scoringDataType == 100) 
            { %>
              selected
            <% }
          } %>
          >Google AI</option>
        </select>
      </label>

      <input type="submit" value="Save">
    </form>
    <script>
      $('#kWsCdataTypeForm').on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            url : $(this).attr('action') || window.location.pathname,
            type: "POST",
            data: $(this).serialize(),
            success: function (data) {
                
            },
            error: function (jXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });

    function togglekwscform()
    {
      $("#kWsCdataTypeForm").toggle();
    }
    
    </script>


  </div>